.Encabezado_tabla {color: #FFFF00; font-weight: bold; font-family: Arial, Helvetica, sans-serif; font-size: 10px; }
.Texto_tabla {font-family: Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; }
